html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

.container {
  width: calc(100% - 3.75rem);
  max-width: 1280px;
  margin-inline: auto;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 0px;
}
@media screen and (max-width: 950px) {
  .nav {
    padding-top: 16px;
  }
}
.nav__menu {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 950px) {
  .nav__menu {
    display: none;
    padding-top: 16px;
  }
}
.nav__menu li a {
  text-decoration: none;
  color: #4F5665;
  font-size: 1rem;
}
.nav__menu li a:hover {
  color: #F53838;
}
.nav__cta {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 950px) {
  .nav__cta {
    gap: 14px;
  }
}
.nav__cta .button-link {
  text-decoration: none;
  color: #0B132A;
  font-weight: 700;
}
.nav__cta .button-link:hover {
  color: #4F5665;
}
.nav__cta .button-primary {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  background-color: transparent;
  color: #F53838;
  border-radius: 50px;
  padding: 17px 30px;
  outline: 1px solid #F53838;
}
.nav__cta .button-primary:hover {
  background-color: #F53838;
  box-shadow: 0px 20px 40px -15px rgba(245, 56, 56, 0.81);
  color: #fff;
  border: none;
}
@media screen and (max-width: 950px) {
  .nav__cta .button-primary {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    background-color: transparent;
    color: #F53838;
    border-radius: 50px;
    padding: 8px 20px;
    outline: 1px solid #F53838;
  }
  .nav__cta .button-primary:hover {
    background-color: #F53838;
    box-shadow: 0px 20px 40px -15px rgba(245, 56, 56, 0.81);
    color: #fff;
    border: none;
  }
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

#header.active {
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 15px 20px 40px -15px rgba(0, 0, 0, 0.06);
}

.hero {
  margin-top: 112px;
  align-items: center;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
}
.hero__content {
  grid-column: 1/7;
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.hero__content .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__content .text h1 {
  color: #0B132A;
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 70px;
}
.hero__content .text h1 span {
  font-weight: 700;
}
.hero__content .text p {
  color: #4F5665;
  font-size: 1rem;
  line-height: 30px;
}
.hero__content .text p span {
  font-weight: 600;
}
.hero__content .button-primary {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  text-align: center;
  border-radius: 10px;
  background-color: #F53838;
  padding: 17px 70px;
  color: #fff;
  align-self: flex-start;
}
.hero__content .button-primary:hover {
  box-shadow: 0px 20px 40px -15px rgba(245, 56, 56, 0.81);
}
@media screen and (max-width: 768px) {
  .hero__content {
    grid-column: 1/13;
  }
  .hero__content .button-primary {
    width: 100%;
  }
}
.hero__image {
  grid-column: 7/13;
}
.hero__image img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .hero__image {
    grid-column: 1/13;
  }
}

.service {
  display: flex;
  flex-wrap: wrap;
  padding: 68px 90px;
  justify-content: space-between;
  margin-top: 120px;
  box-shadow: 15px 20px 40px -15px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .service {
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }
}
.service__users {
  display: flex;
  gap: 18px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .service__users {
    flex-direction: column;
    justify-content: center;
  }
}
.service__users .content {
  text-align: center;
}
.service__location {
  display: flex;
  gap: 18px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .service__location {
    flex-direction: column;
    justify-content: center;
  }
}
.service__location .content {
  text-align: center;
}
.service__servers {
  display: flex;
  gap: 18px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .service__servers {
    flex-direction: column;
    justify-content: center;
  }
}
.service__servers .content {
  text-align: center;
}
.service__divider {
  border: 1px solid #EEEFF2;
  height: 120px;
}
@media screen and (max-width: 768px) {
  .service__divider {
    display: none;
  }
}
.service__location {
  display: flex;
  gap: 18px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .service__location {
    flex-direction: column;
    justify-content: center;
  }
}

.features {
  margin-top: 120px;
  gap: 24px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.features__image {
  grid-column: 1/7;
}
@media screen and (max-width: 768px) {
  .features__image {
    grid-column: 1/13;
  }
}
.features__image img {
  width: 100%;
}
.features__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 8/13;
}
@media screen and (max-width: 768px) {
  .features__content {
    grid-column: 1/13;
  }
}
.features__content h3 {
  font-size: 2.1875rem;
}
.features__content li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4F5665;
  font-size: 0.875rem;
}
.features__content ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}/*# sourceMappingURL=main.css.map */