@use 'base/' as base;
@use 'components/' as component;
html {
    box-sizing: border-box;
    font-size: 100%;
   font-family: 'Rubik', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;

}
ul {
    list-style: none;
}
.container {
       @include base.container();
}
.nav {
    @include component.navbar();
}

.hero {
    margin-top: 112px;
    align-items: center;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    &__content {
        grid-column: 1 / 7;
        display: flex;
        gap: 50px;
        flex-direction: column;
        .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
                color: base.$black;
                font-weight: 500;
                font-size: base.$heading-1;
                line-height: 70px;
                span {
                    font-weight: 700;
                }
            }
            p {
                color: base.$grey;
                font-size: base.$paragraph-1;
                line-height: 30px;
                span {
                    font-weight: 600;

                }
            }
        }
        .button-primary {
            @include component.button-primary();
            align-self: flex-start;
        }
        @media screen and (max-width: 768px){
            grid-column: 1 / 13;
            .button-primary {
                width: 100%;
    
                
            }
        }
    }
    
    &__image {
        grid-column: 7 / 13;
        img {
            width: 100%;
        }
        @media screen and (max-width: 768px){
            grid-column: 1 / 13;
        
        }
    }
}

.service {
     @media screen and (max-width: 768px){
            flex-direction: column;
            padding: 20px;
            gap: 40px;
      }
    display: flex;
    flex-wrap: wrap;
    padding: 68px 90px;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 120px;
    box-shadow: base.$shadow-grey;
    background-color: base.$white;
    @mixin service{
        display: flex;
        gap: 18px;
        align-items: center;
        @media screen and (max-width: 768px){
            flex-direction: column;
            justify-content: center;
      }
    }
    &__users {
        @include service();
        .content {
            text-align: center;
        }
        
    }
    &__location {
        @include service();
        .content {
            text-align: center;
        }
        
    }
      &__servers {
        @include service();
        .content {
            text-align: center;
        }
        
    }
    &__divider {
        border: 1px solid #EEEFF2;
        height: 120px;
        @media screen and (max-width: 768px){
            display: none;
      }
        
    }
     &__location {
        @include service();
    }
    
    
}
