@use 'base/' as base;
@use 'components/' as component;
html {
    box-sizing: border-box;
    font-size: 100%;
   font-family: 'Rubik', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;

}
ul {
    list-style: none;
}
.container {
    @media screen and (max-width: 1920px) {
       @include base.container-xl();
    }
    @media screen and (max-width: 1440px) {
       @include base.container-lg();
    }
    
}
.nav {
    @include component.navbar();
}
