@use '../base/index' as base;
@mixin button {
    font-size: base.$paragraph-1;
    font-weight: 700;
    text-decoration: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

@mixin button-primary {
    @include button();
    border-radius: 10px;
    background-color: base.$primary-red;
    padding: 17px 70px;
    color: base.$white;
    &:hover{
    box-shadow: base.$shadow-red;
    }
}

@mixin button-secondary {
    @include button();
    background-color: transparent;
    color: base.$primary-red;
    border-radius: 50px;
    padding: 17px 35px;
    border: 1px solid base.$primary-red;
    &:hover{
    background-color: base.$primary-red;
    color: base.$white;
    border: none;
    }
}